<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/default">

<div layout:fragment="content">

    <div class="form-group" style="margin:3% 40%">
        <label class="form-label mt-4">로그인</label>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="ID">
            <label for="floatingInput">ID</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button type="submit" class="btn btn-light" style="margin-top: 4%; width:100%">로그인</button>

        <div style="margin-top:5%; font-size: 5px">
            <a href="/geonju/joinform">회원가입</a>
            <!--<span style="margin-right: 12%; color: gray">|</span>-->
            <div class="find" style= "float: right">
                <a href="/geonju/findid" >아이디 찾기</a>
                <span style= "color: gray">|</span>
                <a href="/geonju/findpwd" >비밀번호 찾기</a>
            </div>

        </div>
    </div>


</div>
</html>