<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/default">

<div layout:fragment="content">
    <div class="content">
        <div class="main" style="position: relative;">
            <img src="/img/pic.jpg" style="width: 100%;">
            <h1 style="position: absolute;top: 50%; left: 50%; transform: translate( -50%, -50% ); color: black;">건주네 옷 사러 오세욤 뿡</h1>
        </div>

    </div>

</div>

</html>